.copier { cursor:pointer; transition:all 250ms; }
.copier > .anticon { opacity:0;transition:all 250ms; margin-left:4px;  }
.copier:hover, .copier:focus { background:#000; border-radius:3px; padding:2px 4px;}
.copier:hover > .anticon, .copier:focus > .anticon {  opacity:1; }